.map-frame {
    overflow: hidden;
}


body[theme="dark"] .input-group-text, body[theme="dark"] .flatpickr-input {
    background-color: #1f1f2b!important;
    border-color: #2d2d3f!important;
    color: #c2c4d1;
}

body[theme="dark"] .flatpickr-calendar {
    background-color: #1f1f2b!important;
    border-color: #2d2d3f!important;
    color: #c2c4d1;
}

body[theme="dark"] .flatpickr-day.today {
    color: #1f1f2b!important;
}

body[theme="dark"] .flatpickr-day.today:hover {
    background-color: #eccfa292!important;
    color: white!important;
    border: 1px solid transparent!important;
}

body[theme="dark"] .flatpickr-day:hover {
    background-color: transparent!important;
}

body[theme="dark"] .flatpickr-day,
body[theme="dark"] span.flatpickr-weekday,
body[theme="dark"] .flatpickr-current-month .flatpickr-monthDropdown-months, 
body[theme="dark"] .flatpickr-current-month input.cur-year,
body[theme="dark"] .flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month,
body[theme="dark"] .numInputWrapper span.arrowUp {
    color: #c2c4d1!important;
    fill: #c2c4d1!important;
}


/* CUSTOM DARK MODE FOR SELECT2 */

body[theme="dark"] .select2-dropdown {
    background-color: #1f1f2b;
    border-color: #2d2d3f!important;
    color: #c2c4d1;
}

body[theme="dark"] .select2-search--dropdown .select2-search__field {
    background-color: #1f1f2b;
    border-color: #2d2d3f!important;
    color: #c2c4d1;
}

body[theme="dark"] .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #9a9cab;
    line-height: 28px;
}

body[theme="dark"] .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #1f1f2b;
    border-color: #2d2d3f!important;
    color: #f1f2f4;
}

body[theme="dark"] .select2-container--default .select2-selection--single, 
body[theme="dark"] .select2-container--default .select2-search--inline .select2-search__field,
body[theme="dark"] .select2-container--default .select2-selection--multiple {
    background-color: #1f1f2b;
    border-color: #2d2d3f!important;
    color: #c2c4d1!important;
}

.new-loader .spinner-border {
    position: fixed;
    top: 50%;
    left: 50%;
}

.new-loader .logo {
    margin-bottom: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
}

.new-loader .logo img{
    width: 150px;
}

.preview-box-big {
    overflow: hidden;
    height: 400px;
}

.preview-box-big img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 10%;
}

.preview-session {
    overflow: hidden;
    height: 250px;
}

.preview-session img{
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 10%;
}

.preview-session:hover img {
    transition: all 0.3s;
    transform: scale(1.2);
    filter: brightness(70%);
}


.preview-box {
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.preview-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.notifi {
    position: fixed;
    z-index: 999;
    bottom: 10;
    right: 10;
    width: 300px;
}

.positioner-background{
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.image-positioner{
    width: 500px;
}

.image-box{
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    user-select: none;
    border: 2px solid grey;
}

.image-box::before{
    content: '';
    position: absolute;
    background-color: red;
    opacity: 0.5;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.image-box::after{
    content: '';
    position: absolute;
    background-color: red;
    opacity: 0.5;
    width: 1px;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-editor{
    width: 500px;
}

@media only screen and (max-width: 1101px) {

    .navbar-nav {
        flex-direction: row;
    }

}

@media only screen and (max-width: 384px) {
    #change-theme {
        display: none;
    }
}