.about-us {

    h3 {
        font-family: 'TypoBold';
        letter-spacing: 7px;
        color: #000000c0;
        text-align: center;
        padding: 100px;
        background-color: white;
    }
}