.extra-photoshoots {
    background-color: white;
    width: 100%;

    .extra-photoshoot {
        width: 50%;
        background-color: white;
        cursor: pointer;

        .photoshoot-info {
            width: 50%;
            padding-left: 20px;

            .place {
                color: rgb(200, 200, 200);
                font-family: 'DMSerif';
                font-size: 22px;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            .person {
                color: #000000c0;
                font-family: 'TypoBold';
                font-size: 32px;
                margin-top: 0;
                padding-top: 0;
                white-space: nowrap;
            }
        }

        .photoshoot-image {
            overflow: hidden;
            width: 50%;
            height: 100%;
            background-color: black;
            aspect-ratio: 3 / 2;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center 20%;
                transition: height .3s, width .3s, opacity .3s, transform .3s;
                transform: scale(1.01);
            }

            &:hover img{
                transform: scale(1.15);
                opacity: .75;
            }
        }

    }

}

@media only screen and (max-width: 1199px) {
    .extra-photoshoots {
        padding: 50px;

        .extra-photoshoot {
            width: 100%;
    
            .photoshoot-info {
                margin-left: 0;

    
                .place {
                    font-size: 25px;
                }
    
                .person {
                    font-size: 35px;
                }
            }
        }
    }
}

@media only screen and (max-width: 740px){
    .extra-photoshoots {
        padding: 30px;

        .extra-photoshoot{
    
            .photoshoot-info{

                .place {
                    font-size: 20px;
                }
    
                .person {
                    font-size: 28px;
                }
            }
        }
    }
}