@font-face {
    font-family: 'TypoBold';
    src: url(../../public/fonts/Typo/TypoBold.otf) format("opentype");
}

@font-face {
    font-family: 'Typo';
    src: url(../../public/fonts/Typo/TypoRegular.otf) format("opentype");
}

@font-face {
    font-family: 'DMSerif';
    src: url(../../public/fonts/DMSerif/DMSerif.ttf) format("truetype");
}

