.hero {

    width: 100%;
    height: 910px;
    background: black;
    overflow: hidden;

    img {
        opacity: 40%;
        width: 100%;
    }
}


@media only screen and (max-width: 1520px) {

    .hero {

        overflow: hidden;
        height: 700px;

    }
}

@media only screen and (max-width: 1200px) {

    .hero {

        height: 750px;
        background: black;
        overflow: hidden;
    
        img {
            width: 1300px;
            object-fit: none;
            object-position: 100% 30%;
        }
    }

}