.hero{
    height: 100vh;
    background: black;
    color: white;
    top: 0;
    z-index: -1;
    
    .hero-image{
        height: 100%;
        transition: width 2s;

        &.w-0{
            width: 0;
        }
    }

    img{
        opacity: 40%;
        object-fit: cover;
        object-position: center;
    }

    .hero-text{
        z-index: 2;
    }

    .hero-text div:first-child{
        font-family: 'Typo';
        font-size: 65px;
    }
    
    .hero-text div:last-child{
        font-family: 'DMSerif';
        font-size: 30px;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 800px) {

    .hero {

        .hero-text div:first-child{
            font-family: 'Typo';
            font-size: 50px;
        }
        
        .hero-text div:last-child{
            font-family: 'DMSerif';
            font-size: 25px;
            letter-spacing: 1px;
        } 
    }

}