.last-photoshoot {
    background-color: white;

    .text {
        margin-left: 100px;
    }
    
    .type {
        font-family: 'TypoBold';
        font-size: 25px;
        letter-spacing: 8px;
        margin-top: 10px;
        margin-bottom: 60px;
        opacity: 80%;
    }

    .place {
        color: rgb(200, 200, 200);
        font-family: 'DMSerif';
        font-size: 35px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .person {
        color: #000000c0;
        font-family: 'TypoBold';
        font-size: 50px;
        margin-top: 0;
        padding-top: 0;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 1200px) {

    .last-photoshoot {
        
        padding-left: 50px;
        padding-right: 50px;

        .text {
            margin-left: 0;
        }

        .type {
            font-size: 25px;
            letter-spacing: 8px;
            margin-top: 60px;
            margin-bottom: 20px;
            opacity: 80%;
        }

        .place {
            color: rgb(200, 200, 200);
            font-size: 34px;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .person {
            color: #000000c0;
            font-size: 45px;
            margin-top: 0;
            margin-bottom: 50px;
            padding-top: 0;
            white-space: nowrap;
        }

    }

}

@media only screen and (max-width: 600px) {

    .last-photoshoot {

        padding-left: 30px;
        padding-right: 30px;

        .type {
            font-size: 20px;

        }

        .place {
            font-size: 29px;
        }

        .person {
            font-size: 40px;
        }

    }

}