.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0000;
    padding-top: 25px;
    z-index: 1000;
    transition:
        background-color $navbar-scroll-change-duration,
        padding-top $navbar-scroll-change-duration;
    
    .nav-item{
        padding: 0px 50px;
        font-family: 'Typo';
        color: white!important;
        font-size: 20px;
        text-transform: uppercase;
        user-select: none;

        .logo{
            font-family: 'Typo';
            font-size: 50px;
        }
    }

    .nav-link{
        font-family: 'Typo';
        color: white!important;
        font-size: 20px;
        text-transform: uppercase;
        transition:
            opacity $navbar-items-hiding-duration,
            transform $navbar-items-hiding-duration;
        transition-delay: $searchbar-opening-duration;

        &.hidden{
            transition-delay: 0s!important;
            opacity: 0!important;
            transform: translateY(20px)!important;
        }
    }

    .navbar-show{
        z-index: 1001;
        position: fixed;
        right: 4%;
        top: 40px;
        background-color: #000a;
        backdrop-filter: blur(6px) invert(100%);
        color: white;
        border-radius: 0;
    }

    .navbar-hide{
        z-index: 1001;
        position: fixed;
        right: 4%;
        top: 40px;
        background-color: #000a;
        backdrop-filter: blur(6px) invert(100%);
        color: white;
        border-radius: 0;
    }

    #search-button{
        cursor: pointer;
        left: 0;
        transition: left $searchbar-opening-duration 0s;
        padding: 8px;
        margin: 0 42px;

        &.active{
            left: calc(-100% + 124px + (50px - $searchbar-to-button-distance));
            transition-delay: $navbar-items-hiding-duration;
        }
    }

    .searchbar{
        font-size: 20px;
        opacity: 0;
        padding: 6px 0;
        border-radius: 3px;
        width: auto;
        top: 50%;
        transform: translateY(-50%);
        right: 124px;
        left: calc(100% - (50px - $searchbar-to-button-distance));
        transition:
            left $searchbar-opening-duration 0s,
            opacity 0s $searchbar-opening-duration,
            padding calc($searchbar-opening-duration / 2) 0s;

        &.active{
            transition:
                left $searchbar-opening-duration $navbar-items-hiding-duration,
                opacity 0s $navbar-items-hiding-duration,
                padding calc($searchbar-opening-duration / 2) calc(($searchbar-opening-duration / 2) + $navbar-items-hiding-duration);
            opacity: 1!important;
            left: 124px!important;
            padding: 6px 12px!important;
        }
    }
}

@media only screen and (max-width: 1500px) {

    .navbar {

        .nav-item {
            padding: 0px 30px;
        }
    }

}

@media only screen and (max-width: 1199px) {

    .navbar {
        margin: 0;
        padding: 0;
        top: 50%;
        transition: none;

        .navbar-collapse{
            transform: translateY(-50%);
            z-index: 1002;

            .navbar-nav {
                background-color: #000a;
                width: 100%;
                height: 100vh;
                padding: 20vh 0;
                justify-content: space-between;
                backdrop-filter: blur(6px);

                .nav-link{
                    font-size: 28px;
                }
            }
        }
    }
}

@media only screen and (max-width: 650px) {

    .navbar {

        .navbar-nav {

            .nav-link{
                font-size: 24px;
            }
        }
    }
}

