.navbar {

    width: 100%;
    z-index: 999;
    position: absolute;
    background: #fff0!important;
    right: 50%;
    margin-top: 25px;
    transform: translateX(50%);
    
    .nav-item {
        padding: 0px 50px;
    }

    .nav-item, .nav-link{
        font-family: 'Typo';
        color: white!important;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .logo {
        font-family: 'Typo';
        font-size: 50px;
    }

    .navbar-toggler {
        z-index: 1001;
        position: absolute;
        right: 4%;
    }
}

@media only screen and (max-width: 1500px) {

    .navbar {

        .nav-item {
            padding: 0px 30px;
        }
    }

}

@media only screen and (max-width: 1200px) {

    .navbar {

        .navbar-nav {
            position: absolute!important;
            top: 700%!important;
            right: 50%!important;
            transform: translateX(50%);
            background-color: #0008;
            width: 80vw;
            padding: 50px 0;

        }

        #nav-logo {
            display: none;
        }

        position: absolute;
        right: 50%;
        margin-top: 25px;
        transform: translateX(50%);

        .nav-item {
            padding: 0!important;
            transition: all 0.3s;

            &:hover {
                font-weight: bold;
                letter-spacing: 5px;
                transition: all 0.3s;
            }
        }
    
        .nav-item, .nav-link{
            font-family: 'Typo';
            color: white!important;
            font-size: 30px;
            text-transform: uppercase;
        }
        
        .logo {
            font-family: 'Typo';
            font-size: 50px;
        }
    }

}
