.banner {
    height: 700px;
    width: 100%;
    overflow: hidden;

    .text {
        z-index: 100;
        position: absolute;
        color: white;
        top: 28%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        .type {
            font-family: 'TypoBold';
            font-size: 28px;
            letter-spacing: 8px;
            margin-bottom: 100px;
            opacity: 80%;
        }

        .place {
            color: rgb(219, 219, 219);
            font-family: 'DMSerif';
            font-size: 50px;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .person {
            z-index: 100;
            color: white;
            font-family: 'TypoBold';
            font-size: 60px;
            margin-top: 0;
            padding-top: 0;
        }

    }

    .background {
        background: black;
        width: 100%;
        height: 100%;

        img {
            opacity: 35%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

}

.gallery {
    margin: 90px;
    align-items: center;
    text-align: center;

    #lightgallery {
        
        img {
            max-height: 500px;    
        }
    }

}

@media only screen and (max-width: 1140px) {
    .banner {
        margin-top: 0px;
        height: 300px;
        overflow: hidden;
    
        .text {
            z-index: 100;
            position: absolute;
            color: white;
            top: 9%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
    
            .type {
                font-family: 'TypoBold';
                font-size: 16px;
                letter-spacing: 8px;
                margin-bottom: 40px;
                opacity: 80%;
            }
    
            .place {
                color: rgb(219, 219, 219);
                font-family: 'DMSerif';
                font-size: 24px;
                margin-bottom: 0;
                padding-bottom: 0;
            }
    
            .person {
                z-index: 100;
                color: white;
                font-family: 'TypoBold';
                font-size: 30px;
                margin-top: 0;
                padding-top: 0;
                white-space: nowrap;
            }
    
        }
    }
}

@media only screen and (max-width: 880px) {
    .banner {

        height: 300px;
        overflow: hidden;
    
        .text {
            z-index: 100;
            position: absolute;
            color: white;
            top: 9%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
    
            .type {
                font-family: 'TypoBold';
                font-size: 15px;
                letter-spacing: 8px;
                margin-bottom: 40px;
                opacity: 80%;
            }
    
            .place {
                color: rgb(219, 219, 219);
                font-family: 'DMSerif';
                font-size: 24px;
                margin-bottom: 0;
                padding-bottom: 0;
            }
    
            .person {
                z-index: 100;
                color: white;
                font-family: 'TypoBold';
                font-size: 30px;
                margin-top: 0;
                padding-top: 0;
                white-space: nowrap;
            }
    
        }
    }

    .gallery {
        margin: 90px;
        align-items: center;
        text-align: center;
    
        #lightgallery {
            
            img {
                max-height: max-content;    
            }
        }
    
    }
}

@media only screen and (max-width: 450px) {
    .banner {

        height: 200px;
        overflow: hidden;
    
        .text {
            z-index: 100;
            position: absolute;
            color: white;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
    
            .type {
                font-family: 'TypoBold';
                font-size: 14px;
                letter-spacing: 8px;
                margin-bottom: 40px;
                opacity: 80%;
            }
    
            .place {
                color: rgb(219, 219, 219);
                font-family: 'DMSerif';
                font-size: 20px;
                margin-bottom: 0;
                padding-bottom: 0;
            }
    
            .person {
                z-index: 100;
                color: white;
                font-family: 'TypoBold';
                font-size: 26px;
                margin-top: 0;
                padding-top: 0;
                white-space: nowrap;
            }
    
        }
    }
}

@media only screen and (max-width: 992px) {
    .gallery {
        margin: 60px;
    }
}