.portfolio {

    text-align: center;

    h4 {
        color: rgb(200, 200, 200);
        font-family: "DMSerif";
        margin-top: 100px;
        margin-bottom: 20px;
    }

    h3 {
        
        color: #212529;
        font-family: 'TypoBold';
        letter-spacing: 10px;
        margin-bottom: 100px;

    }

    .movies {

        .text {
            color: #212529;
            font-family: 'TypoBold';
            font-size: 24px;
            letter-spacing: 4px;
            margin-top: 40px;
            margin-bottom: 60px;
        }
    }

}