.portfolio {

    text-align: center;

    h4.our-portfolio {

        color: #212529;
        font-family: 'TypoBold';
        font-size: 25px;
        letter-spacing: 8px;
        margin-top: 10px;
        margin-bottom: 60px;

    }

    h4 {
        color: rgb(200, 200, 200);
        font-family: "DMSerif";
        font-size: 25px;
        margin-bottom: 20px;
        padding-bottom: 0;
    }

    h3 {
        
        color: #212529;
        font-family: 'TypoBold';
        font-size: 32px;
        letter-spacing: 10px;
        margin-top: 10px;
        margin-bottom: 60px;

    }

    .movies {

        .text {
            color: #212529;
            font-family: 'TypoBold';
            font-size: 24px;
            letter-spacing: 4px;
            margin-top: 40px;
            margin-bottom: 60px;
        }
    }

}