@font-face {
  font-family: "TypoBold";
  src: url(/fonts/TypoBold.otf?03c7d5d74b0cbbc75d7afebb20a4be34) format("opentype");
}
@font-face {
  font-family: "Typo";
  src: url(/fonts/TypoRegular.otf?d0b8d0cc42e2ec119cd9e58de93fa1c3) format("opentype");
}
@font-face {
  font-family: "TypoItalic";
  src: url(/fonts/TypoItalic.otf?5eb71e3b7f38b7b47d927d902bf63395) format("opentype");
}
@font-face {
  font-family: "DMSerif";
  src: url(/fonts/DMSerif.ttf?c63bc97c84c421f39c7a3b21a5e243e7) format("truetype");
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 25px;
  z-index: 1000;
  transition: background-color 0.3s, padding-top 0.3s;
}
.navbar.full {
  padding-top: 7px;
  background-color: #000;
}
.navbar .nav-item {
  padding: 0px 50px;
  font-family: "Typo";
  color: white !important;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navbar .nav-item .logo {
  font-family: "Typo";
  font-size: 50px;
}
.navbar .nav-link {
  font-family: "Typo";
  color: white !important;
  font-size: 20px;
  text-transform: uppercase;
  transition: opacity 0.4s, transform 0.4s;
  transition-delay: 0.4s;
}
.navbar .nav-link.hidden {
  transition-delay: 0s !important;
  opacity: 0 !important;
  transform: translateY(20px) !important;
}
.navbar .nav-link:not(.logo) {
  position: relative;
}
.navbar .nav-link:not(.logo)::before, .navbar .nav-link:not(.logo)::after {
  content: "";
  position: absolute;
  width: 50%;
  bottom: 0;
  height: 2px;
  background-color: white;
  transition: transform 0.2s;
  transform: scaleX(0);
}
.navbar .nav-link:not(.logo)::before {
  left: 0;
  transform-origin: left;
}
.navbar .nav-link:not(.logo)::after {
  right: 0;
  transform-origin: right;
}
.navbar .nav-link:not(.logo):hover::before {
  transform: scaleX(1);
  transform-origin: right;
}
.navbar .nav-link:not(.logo):hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.navbar .navbar-toggler {
  z-index: 1001;
  position: fixed;
  right: 50px;
  top: 40px;
  background-color: rgba(0, 0, 0, 0.6666666667);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  color: white;
  border-radius: 0;
}
.navbar .navbar-show {
  opacity: 1;
  transition: opacity 0s 0s;
}
.navbar .navbar-show[aria-expanded=true] {
  opacity: 0;
  transition: opacity 0s 0.2s;
}
.navbar #search-button {
  cursor: pointer;
  left: 0;
  transition: left 0.4s 0s;
  padding: 8px;
  margin: 0 42px;
}
.navbar #search-button.active {
  left: calc(-100% + 124px + 25px);
  transition-delay: 0.4s;
}
.navbar .searchbar {
  text-transform: uppercase;
  font-family: "Typo";
  font-size: 18px;
  opacity: 0;
  padding: 6px 0;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  right: 124px;
  left: calc(100% - 25px);
  transition: left 0.4s 0s, opacity 0s 0.4s, padding 0.2s 0s;
}
.navbar .searchbar:focus-visible {
  outline: none !important;
}
.navbar .searchbar.active {
  transition: left 0.4s 0.4s, opacity 0s 0.4s, padding 0.2s 0.6s;
  opacity: 1 !important;
  left: 124px !important;
  padding: 6px 12px !important;
}

@media only screen and (max-width: 1500px) {
  .navbar .nav-item {
    padding: 0px 30px;
  }
}
@media only screen and (max-width: 1199px) {
  .navbar {
    margin: 0;
    padding: 0;
    top: 50%;
    transition: none;
  }
  .navbar.full {
    padding-top: 7px;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar .navbar-collapse {
    transform: translateY(-50%);
    z-index: 1002;
  }
  .navbar .navbar-collapse .navbar-nav {
    background-color: rgba(0, 0, 0, 0.6666666667);
    width: 100%;
    height: 100vh;
    padding: 20vh 0;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
  .navbar .navbar-collapse .navbar-nav .nav-link {
    font-size: 28px;
  }
}
@media only screen and (max-width: 740px) {
  .navbar .navbar-toggler {
    right: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .navbar .navbar-toggler {
    right: 15px;
  }
}
.last-photoshoot {
  background-color: white;
  cursor: pointer;
}
.last-photoshoot .photoshoot-info {
  width: 50%;
  padding-left: 100px;
}
.last-photoshoot .photoshoot-info .type {
  font-family: "TypoBold";
  font-size: 25px;
  letter-spacing: 8px;
  margin-top: 10px;
  margin-bottom: 60px;
  opacity: 80%;
}
.last-photoshoot .photoshoot-info .place {
  color: rgb(200, 200, 200);
  font-family: "DMSerif";
  font-size: 35px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.last-photoshoot .photoshoot-info .person {
  color: rgba(0, 0, 0, 0.7529411765);
  font-family: "TypoBold";
  font-size: 50px;
  margin-top: 0;
  padding-top: 0;
  white-space: nowrap;
}
.last-photoshoot .photoshoot-image {
  width: 50%;
}
.last-photoshoot .photoshoot-image img {
  transition: transform 0.3s, filter 0.3s;
}
.last-photoshoot .photoshoot-image img:hover {
  transform: scale(1.15);
  filter: brightness(75%);
}

@media only screen and (max-width: 1199px) {
  .last-photoshoot {
    padding: 60px 50px 0 50px;
  }
  .last-photoshoot .photoshoot-info {
    width: 100%;
    padding-left: 0;
  }
  .last-photoshoot .photoshoot-info .type {
    font-size: 25px;
    letter-spacing: 8px;
    margin-bottom: 20px;
    opacity: 80%;
  }
  .last-photoshoot .photoshoot-info .place {
    color: rgb(200, 200, 200);
    font-size: 34px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .last-photoshoot .photoshoot-info .person {
    color: rgba(0, 0, 0, 0.7529411765);
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 0;
    white-space: nowrap;
  }
  .last-photoshoot .photoshoot-image {
    width: 100%;
  }
}
@media only screen and (max-width: 740px) {
  .last-photoshoot {
    padding: 60px 30px;
  }
  .last-photoshoot .photoshoot-info .type {
    font-size: 20px;
  }
  .last-photoshoot .photoshoot-info .place {
    font-size: 28px;
  }
  .last-photoshoot .photoshoot-info .person {
    font-size: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .last-photoshoot {
    padding: 40px 15px;
  }
}
.banner {
  margin-top: 100px;
  height: 700px;
  overflow: hidden;
}
.banner .text {
  z-index: 100;
  position: absolute;
  color: white;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.banner .text .type {
  font-family: "TypoBold";
  font-size: 28px;
  letter-spacing: 8px;
  margin-bottom: 100px;
  opacity: 80%;
}
.banner .text .place {
  color: rgb(219, 219, 219);
  font-family: "DMSerif";
  font-size: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.banner .text .person {
  z-index: 100;
  color: white;
  font-family: "TypoBold";
  font-size: 60px;
  margin-top: 0;
  padding-top: 0;
}
.banner .background {
  background: black;
}
.banner .background img {
  opacity: 35%;
}

.gallery {
  margin: 90px;
  align-items: center;
  text-align: center;
}
.gallery #lightgallery img {
  max-height: 500px;
}

@media only screen and (max-width: 1140px) {
  .banner {
    margin-top: 0px;
    height: 300px;
    overflow: hidden;
  }
  .banner .text {
    z-index: 100;
    position: absolute;
    color: white;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .banner .text .type {
    font-family: "TypoBold";
    font-size: 16px;
    letter-spacing: 8px;
    margin-bottom: 40px;
    opacity: 80%;
  }
  .banner .text .place {
    color: rgb(219, 219, 219);
    font-family: "DMSerif";
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .banner .text .person {
    z-index: 100;
    color: white;
    font-family: "TypoBold";
    font-size: 30px;
    margin-top: 0;
    padding-top: 0;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 880px) {
  .banner {
    height: 300px;
    overflow: hidden;
  }
  .banner .text {
    z-index: 100;
    position: absolute;
    color: white;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .banner .text .type {
    font-family: "TypoBold";
    font-size: 15px;
    letter-spacing: 8px;
    margin-bottom: 40px;
    opacity: 80%;
  }
  .banner .text .place {
    color: rgb(219, 219, 219);
    font-family: "DMSerif";
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .banner .text .person {
    z-index: 100;
    color: white;
    font-family: "TypoBold";
    font-size: 30px;
    margin-top: 0;
    padding-top: 0;
    white-space: nowrap;
  }

  .gallery {
    margin: 90px;
    align-items: center;
    text-align: center;
  }
  .gallery #lightgallery img {
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
}
@media only screen and (max-width: 450px) {
  .banner {
    height: 200px;
    overflow: hidden;
  }
  .banner .text {
    z-index: 100;
    position: absolute;
    color: white;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .banner .text .type {
    font-family: "TypoBold";
    font-size: 14px;
    letter-spacing: 8px;
    margin-bottom: 40px;
    opacity: 80%;
  }
  .banner .text .place {
    color: rgb(219, 219, 219);
    font-family: "DMSerif";
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .banner .text .person {
    z-index: 100;
    color: white;
    font-family: "TypoBold";
    font-size: 26px;
    margin-top: 0;
    padding-top: 0;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 992px) {
  .gallery {
    margin: 60px;
  }
}
.extra-photoshoots {
  background-color: white;
  cursor: pointer;
  width: 100%;
}
.extra-photoshoots .extra-photoshoot {
  width: 50%;
  background-color: white;
}
.extra-photoshoots .extra-photoshoot .photoshoot-info {
  width: 50%;
  padding-left: 20px;
}
.extra-photoshoots .extra-photoshoot .photoshoot-info .place {
  color: rgb(200, 200, 200);
  font-family: "DMSerif";
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.extra-photoshoots .extra-photoshoot .photoshoot-info .person {
  color: rgba(0, 0, 0, 0.7529411765);
  font-family: "TypoBold";
  font-size: 30px;
  margin-top: 0;
  padding-top: 0;
  white-space: nowrap;
}
.extra-photoshoots .extra-photoshoot .photoshoot-image {
  overflow: hidden;
  width: 50%;
  height: 100%;
}
.extra-photoshoots .extra-photoshoot .photoshoot-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: transform 0.3s, filter 0.3s;
}
.extra-photoshoots .extra-photoshoot .photoshoot-image img:hover {
  transform: scale(1.15);
  filter: brightness(75%);
}

@media only screen and (max-width: 1199px) {
  .extra-photoshoots {
    padding: 50px;
  }
  .extra-photoshoots .extra-photoshoot {
    width: 100%;
  }
  .extra-photoshoots .extra-photoshoot .photoshoot-info {
    margin-left: 0;
  }
  .extra-photoshoots .extra-photoshoot .photoshoot-info .place {
    font-size: 25px;
  }
  .extra-photoshoots .extra-photoshoot .photoshoot-info .person {
    font-size: 35px;
  }
}
@media only screen and (max-width: 740px) {
  .extra-photoshoots {
    padding: 30px;
  }
  .extra-photoshoots .extra-photoshoot .photoshoot-info .place {
    font-size: 20px;
  }
  .extra-photoshoots .extra-photoshoot .photoshoot-info .person {
    font-size: 28px;
  }
}
.hero {
  height: 100vh;
  background: black;
  color: white;
  top: 0;
  z-index: -1;
}
.hero .hero-image {
  opacity: 40%;
  min-height: 100%;
  min-width: 100%;
}
.hero .hero-text div:first-child {
  font-family: "Typo";
  font-size: 75px;
}
.hero .hero-text div:last-child {
  font-family: "DMSerif";
  font-size: 35px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 800px) {
  .hero .hero-text div:first-child {
    font-family: "Typo";
    font-size: 50px;
  }
  .hero .hero-text div:last-child {
    font-family: "DMSerif";
    font-size: 25px;
    letter-spacing: 1px;
  }
}
hr.breakline {
  opacity: 0;
  margin: 50px 0;
}

.about h3 {
  font-family: "TypoBold";
  letter-spacing: 7px;
  color: rgba(0, 0, 0, 0.7529411765);
  text-align: center;
  padding: 100px;
  background-color: white;
}
.about .about-image {
  width: 50%;
}
.about .about-image img {
  width: 100%;
  height: 100%;
}
.about .about-image .image-text {
  background-color: white;
  padding: 5px 20px;
}
.about .about-image .image-text .profession {
  color: rgb(200, 200, 200);
  font-family: "DMSerif";
  font-size: 24px;
}
.about .about-image .image-text .person {
  color: rgba(0, 0, 0, 0.7529411765);
  font-family: "TypoBold";
  font-size: 34px;
}

@media only screen and (max-width: 1199px) {
  .about {
    padding: 0 50px;
  }
  .about .about-image {
    width: 100%;
  }
}
@media only screen and (max-width: 740px) {
  .about {
    padding: 0 30px;
  }
  .about .about-image .image-text .profession {
    font-size: 18px;
  }
  .about .about-image .image-text .person {
    font-size: 26px;
  }
}
@media only screen and (max-width: 575px) {
  .about {
    padding: 0 15px;
  }
  .about .about-image .image-text .profession {
    font-size: 14px;
  }
  .about .about-image .image-text .person {
    font-size: 22px;
  }
}
.testimonials h3 {
  font-family: "TypoBold";
  letter-spacing: 7px;
  color: rgba(0, 0, 0, 0.7529411765);
  text-align: center;
  padding: 100px;
  background-color: white;
}
.testimonials .carousel-inner {
  aspect-ratio: 10/3;
}
.testimonials .carousel-inner .carousel-item {
  height: 100%;
  width: 100%;
}
.testimonials .carousel-inner .carousel-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 25%;
     object-position: center 25%;
  filter: brightness(50%);
}
.testimonials .carousel-inner .carousel-item .testimonial {
  color: white;
}
.testimonials .carousel-inner .carousel-item .testimonial .text {
  font-size: 24px;
}
.testimonials .carousel-inner .carousel-item .testimonial .person {
  font-size: 28px;
}

@media only screen and (max-width: 1399px) {
  .testimonials .carousel-inner {
    aspect-ratio: 10/4;
  }
  .testimonials .carousel-inner .testimonial .text {
    font-size: 22px !important;
  }
  .testimonials .carousel-inner .testimonial .person {
    font-size: 26px !important;
  }
}
@media only screen and (max-width: 1199px) {
  .testimonials .carousel-inner {
    aspect-ratio: 10/5;
  }
  .testimonials .carousel-inner .testimonial .text {
    font-size: 20px !important;
  }
  .testimonials .carousel-inner .testimonial .person {
    font-size: 24px !important;
  }
}
@media only screen and (max-width: 991px) {
  .testimonials .carousel-inner {
    aspect-ratio: 10/6;
  }
  .testimonials .carousel-inner .testimonial {
    width: 60%;
  }
}
@media only screen and (max-width: 767px) {
  .testimonials .carousel-inner {
    aspect-ratio: 10/7;
  }
  .testimonials .carousel-inner .testimonial .text {
    font-size: 18px !important;
  }
  .testimonials .carousel-inner .testimonial .person {
    font-size: 22px !important;
  }
}
@media only screen and (max-width: 575px) {
  .testimonials .carousel-inner {
    aspect-ratio: 10/8;
  }
  .testimonials .carousel-inner .testimonial .text {
    font-size: 16px !important;
  }
  .testimonials .carousel-inner .testimonial .person {
    font-size: 20px !important;
  }
}
.cta {
  background-color: #0e0e0e;
  padding: 50px 250px;
  color: white;
}
.cta h3 {
  font-family: "TypoBold";
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 5px;
}
.cta input {
  border: none;
  border-radius: 0;
  font-family: "TypoBold";
  letter-spacing: 3px;
}
.cta .btn {
  border: 1px solid white;
  border-radius: 0;
  width: 100%;
  font-family: "TypoBold";
  letter-spacing: 5px;
  color: #fff;
  background: #0e0e0e;
}
.cta .btn:hover {
  color: #0e0e0e;
  background: #fff;
}

@media only screen and (max-width: 1600px) {
  .cta {
    background-color: #0e0e0e;
    padding: 50px 150px;
    color: white;
  }
  .cta h3 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1250px) {
  .cta {
    background-color: #0e0e0e;
    padding: 50px 100px;
    color: white;
  }
  .cta h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 620px) {
  .cta {
    text-align: center;
    background-color: #0e0e0e;
    padding: 50px 40px;
    color: white;
  }
  .cta h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.portfolio {
  text-align: center;
}
.portfolio h4.our-portfolio {
  color: #212529;
  font-family: "TypoBold";
  font-size: 25px;
  letter-spacing: 8px;
  margin: 60px 0;
}
.portfolio h4 {
  color: rgb(200, 200, 200);
  font-family: "DMSerif";
  font-size: 25px;
  margin-bottom: 20px;
  padding-bottom: 0;
}
.portfolio h3 {
  color: #212529;
  font-family: "TypoBold";
  font-size: 32px;
  letter-spacing: 10px;
  margin-top: 10px;
  margin-bottom: 60px;
}
.portfolio .movies .text {
  color: #212529;
  font-family: "TypoBold";
  font-size: 24px;
  letter-spacing: 4px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.youtube-player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 5px;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  transition: 0.4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  cursor: pointer;
}

.footer {
  padding-top: 50px;
  font-family: "Typo";
  background-color: black;
  color: white;
}
.footer h2 {
  font-family: "Typo";
  font-size: 60px;
  margin-bottom: 30px;
}
.footer h5 {
  text-transform: uppercase;
  font-size: 15px;
  opacity: 0.5;
}
.footer h6 {
  margin-bottom: 15px;
  transition: 0.3s all;
}
.footer h6 a, .footer h6 a:not(:hover) {
  text-decoration: none;
  color: rgb(208, 208, 208);
  transition: 0.3s all;
}
.footer h6 a:hover, .footer h6 a:not(:hover):hover {
  color: rgb(255, 255, 255);
  transition: 0.3s all;
}
.footer img {
  width: 200px;
}

@media only screen and (max-width: 700px) {
  .footer {
    padding-top: 50px;
    font-family: "Typo";
    background-color: black;
    color: white;
  }
  .footer h2 {
    font-family: "Typo";
    font-size: 40px;
    margin-bottom: 30px;
  }
  .footer h5 {
    text-transform: uppercase;
    font-size: 13px;
    opacity: 0.5;
  }
  .footer h6 {
    margin-bottom: 15px;
    transition: 0.3s all;
  }
  .footer h6 a, .footer h6 a:not(:hover) {
    text-decoration: none;
    color: rgb(208, 208, 208);
    transition: 0.3s all;
  }
  .footer h6 a:hover, .footer h6 a:not(:hover):hover {
    color: rgb(255, 255, 255);
    transition: 0.3s all;
  }
}
