@font-face {
  font-family: "TypoBold";
  src: url(/fonts/TypoBold.otf?03c7d5d74b0cbbc75d7afebb20a4be34) format("opentype");
}
@font-face {
  font-family: "Typo";
  src: url(/fonts/TypoRegular.otf?d0b8d0cc42e2ec119cd9e58de93fa1c3) format("opentype");
}
@font-face {
  font-family: "TypoItalic";
  src: url(/fonts/TypoItalic.otf?5eb71e3b7f38b7b47d927d902bf63395) format("opentype");
}
@font-face {
  font-family: "DMSerif";
  src: url(/fonts/DMSerif.ttf?c63bc97c84c421f39c7a3b21a5e243e7) format("truetype");
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 25px;
  z-index: 1000;
  transition: background-color 0.3s, padding-top 0.3s;
}
.navbar.full {
  padding-top: 7px;
  background-color: #000;
}
.navbar .nav-item {
  padding: 0px 50px;
  font-family: "Typo";
  color: white !important;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navbar .nav-item .logo {
  font-family: "Typo";
  font-size: 50px;
}
.navbar .nav-link {
  font-family: "Typo";
  color: white !important;
  font-size: 20px;
  text-transform: uppercase;
  transition: opacity 0.4s, transform 0.4s;
  transition-delay: 0.4s;
}
.navbar .nav-link.hidden {
  transition-delay: 0s !important;
  opacity: 0 !important;
  transform: translateY(20px) !important;
}
.navbar .navbar-toggler {
  z-index: 1001;
  position: fixed;
  right: 4%;
  top: 40px;
  background-color: rgba(0, 0, 0, 0.3333333333);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: white;
  border-radius: 0;
}
.navbar #search-button {
  cursor: pointer;
  left: 0;
  transition: left 0.4s 0s;
  padding: 8px;
  margin: 0 42px;
}
.navbar #search-button.active {
  left: calc(-100% + 124px + 25px);
  transition-delay: 0.4s;
}
.navbar .searchbar {
  text-transform: uppercase;
  font-family: "Typo";
  font-size: 18px;
  opacity: 0;
  padding: 6px 0;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  right: 124px;
  left: calc(100% - 25px);
  transition: left 0.4s 0s, opacity 0s 0.4s, padding 0.2s 0s;
}
.navbar .searchbar:focus-visible {
  outline: none !important;
}
.navbar .searchbar.active {
  transition: left 0.4s 0.4s, opacity 0s 0.4s, padding 0.2s 0.6s;
  opacity: 1 !important;
  left: 124px !important;
  padding: 6px 12px !important;
}

@media only screen and (max-width: 1500px) {
  .navbar .nav-item {
    padding: 0px 30px;
  }
}
@media only screen and (max-width: 1199px) {
  .navbar {
    margin: 0;
    inset: 0;
    transition: none;
  }
  .navbar.full {
    padding-top: 7px;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar .navbar-nav {
    background-color: rgba(0, 0, 0, 0.6666666667);
    width: calc(100vw - 100px);
    height: calc(100vh - 150px);
    padding: 20vh 0;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
  .navbar .navbar-nav .nav-link {
    font-size: 28px;
  }
}
@media only screen and (max-width: 650px) {
  .navbar .navbar-nav .nav-link {
    font-size: 24px;
  }
}
.last-photoshoot {
  background-color: white;
}
.last-photoshoot .text {
  margin-left: 100px;
}
.last-photoshoot .type {
  font-family: "TypoBold";
  font-size: 25px;
  letter-spacing: 8px;
  margin-top: 10px;
  margin-bottom: 60px;
  opacity: 80%;
}
.last-photoshoot .place {
  color: rgb(200, 200, 200);
  font-family: "DMSerif";
  font-size: 35px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.last-photoshoot .person {
  color: rgba(0, 0, 0, 0.7529411765);
  font-family: "TypoBold";
  font-size: 50px;
  margin-top: 0;
  padding-top: 0;
  white-space: nowrap;
}

@media only screen and (max-width: 1200px) {
  .last-photoshoot {
    padding-left: 50px;
    padding-right: 50px;
  }
  .last-photoshoot .text {
    margin-left: 0;
  }
  .last-photoshoot .type {
    font-size: 25px;
    letter-spacing: 8px;
    margin-top: 60px;
    margin-bottom: 20px;
    opacity: 80%;
  }
  .last-photoshoot .place {
    color: rgb(200, 200, 200);
    font-size: 34px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .last-photoshoot .person {
    color: rgba(0, 0, 0, 0.7529411765);
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 0;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 600px) {
  .last-photoshoot {
    padding-left: 30px;
    padding-right: 30px;
  }
  .last-photoshoot .type {
    font-size: 20px;
  }
  .last-photoshoot .place {
    font-size: 29px;
  }
  .last-photoshoot .person {
    font-size: 40px;
  }
}
.banner {
  margin-top: 100px;
  height: 700px;
  overflow: hidden;
}
.banner .text {
  z-index: 100;
  position: absolute;
  color: white;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.banner .text .type {
  font-family: "TypoBold";
  font-size: 28px;
  letter-spacing: 8px;
  margin-bottom: 100px;
  opacity: 80%;
}
.banner .text .place {
  color: rgb(219, 219, 219);
  font-family: "DMSerif";
  font-size: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.banner .text .person {
  z-index: 100;
  color: white;
  font-family: "TypoBold";
  font-size: 60px;
  margin-top: 0;
  padding-top: 0;
}
.banner .background {
  background: black;
}
.banner .background img {
  opacity: 35%;
}

.gallery {
  margin: 90px;
}

@media only screen and (max-width: 1140px) {
  .banner {
    height: 300px;
    overflow: hidden;
  }
  .banner .text {
    z-index: 100;
    position: absolute;
    color: white;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .banner .text .type {
    font-family: "TypoBold";
    font-size: 16px;
    letter-spacing: 8px;
    margin-bottom: 40px;
    opacity: 80%;
  }
  .banner .text .place {
    color: rgb(219, 219, 219);
    font-family: "DMSerif";
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .banner .text .person {
    z-index: 100;
    color: white;
    font-family: "TypoBold";
    font-size: 30px;
    margin-top: 0;
    padding-top: 0;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 880px) {
  .banner {
    height: 300px;
    overflow: hidden;
  }
  .banner .text {
    z-index: 100;
    position: absolute;
    color: white;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .banner .text .type {
    font-family: "TypoBold";
    font-size: 15px;
    letter-spacing: 8px;
    margin-bottom: 40px;
    opacity: 80%;
  }
  .banner .text .place {
    color: rgb(219, 219, 219);
    font-family: "DMSerif";
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .banner .text .person {
    z-index: 100;
    color: white;
    font-family: "TypoBold";
    font-size: 30px;
    margin-top: 0;
    padding-top: 0;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 450px) {
  .banner {
    height: 200px;
    overflow: hidden;
  }
  .banner .text {
    z-index: 100;
    position: absolute;
    color: white;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .banner .text .type {
    font-family: "TypoBold";
    font-size: 14px;
    letter-spacing: 8px;
    margin-bottom: 40px;
    opacity: 80%;
  }
  .banner .text .place {
    color: rgb(219, 219, 219);
    font-family: "DMSerif";
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .banner .text .person {
    z-index: 100;
    color: white;
    font-family: "TypoBold";
    font-size: 26px;
    margin-top: 0;
    padding-top: 0;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 992px) {
  .gallery {
    margin: 60px;
  }
}
.mini-photoshoots {
  background-color: white;
}
.mini-photoshoots .mini-photo .text {
  margin-left: 20px;
}
.mini-photoshoots .mini-photo .text .place {
  color: rgb(200, 200, 200);
  font-family: "DMSerif";
  font-size: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.mini-photoshoots .mini-photo .text .person {
  color: rgba(0, 0, 0, 0.7529411765);
  font-family: "TypoBold";
  font-size: 35px;
  margin-top: 0;
  padding-top: 0;
  white-space: nowrap;
}
.mini-photoshoots .mini-photo .thumb {
  height: 250px;
  overflow: hidden;
}

@media only screen and (max-width: 1650px) {
  .mini-photoshoots .mini-photo .thumb {
    height: 200px;
  }
}
@media only screen and (max-width: 1200px) {
  .mini-photoshoots {
    padding: 50px;
  }
  .mini-photoshoots .mini-photo .text {
    margin-left: 0;
  }
  .mini-photoshoots .mini-photo .text .place {
    font-size: 25px;
  }
  .mini-photoshoots .mini-photo .text .person {
    font-size: 35px;
  }
  .mini-photoshoots .mini-photo:nth-child(even) .text {
    margin-left: 25px;
  }
  .mini-photoshoots .mini-photo .thumb {
    height: 250px;
  }
}
@media only screen and (max-width: 940px) {
  .mini-photoshoots .mini-photo .text .place {
    color: rgb(200, 200, 200);
  }
  .mini-photoshoots .mini-photo .thumb {
    height: 150px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 635px) {
  .mini-photoshoots .mini-photo .text {
    text-align: center;
    margin: 0 !important;
  }
  .mini-photoshoots .mini-photo .text .place {
    font-size: 20px;
    display: none;
  }
  .mini-photoshoots .mini-photo .text .person {
    font-size: 20px;
  }
  .mini-photoshoots .mini-photo .thumb img {
    max-width: 200%;
    transform: translateX(-23%);
  }
}
@media only screen and (max-width: 600px) {
  .mini-photoshoots {
    padding: 30px;
  }
}
.hero {
  height: 100vh;
  background: black;
  color: white;
  top: 0;
  z-index: -1;
}
.hero .hero-image {
  opacity: 40%;
  min-height: 100%;
  min-width: 100%;
}
.hero .hero-text div:first-child {
  font-family: "Typo";
  font-size: 60px;
}
.hero .hero-text div:last-child {
  font-family: "TypoItalic";
  font-size: 30px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 800px) {
  .hero .hero-text div:first-child {
    font-family: "Typo";
    font-size: 50px;
  }
  .hero .hero-text div:last-child {
    font-family: "TypoItalic";
    font-size: 25px;
    letter-spacing: 1px;
  }
}
hr.breakline {
  opacity: 0;
  margin: 50px 0;
}

.about-us h3 {
  font-family: "TypoBold";
  letter-spacing: 7px;
  color: rgba(0, 0, 0, 0.7529411765);
  text-align: center;
  margin: 100px;
}

.cta {
  background-color: #0e0e0e;
  padding: 50px 250px;
  color: white;
}
.cta h3 {
  font-family: "TypoBold";
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 5px;
}
.cta input {
  border: none;
  border-radius: 0;
  font-family: "TypoBold";
  letter-spacing: 3px;
}
.cta .btn {
  border: 1px solid white;
  border-radius: 0;
  width: 100%;
  font-family: "TypoBold";
  letter-spacing: 5px;
  color: #fff;
  background: #0e0e0e;
}
.cta .btn:hover {
  color: #0e0e0e;
  background: #fff;
}

@media only screen and (max-width: 1600px) {
  .cta {
    background-color: #0e0e0e;
    padding: 50px 150px;
    color: white;
  }
  .cta h3 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1250px) {
  .cta {
    background-color: #0e0e0e;
    padding: 50px 100px;
    color: white;
  }
  .cta h3 {
    font-size: 20px;
  }
}
.portfolio {
  text-align: center;
}
.portfolio h4.our-portfolio {
  color: #212529;
  font-family: "TypoBold";
  font-size: 25px;
  letter-spacing: 8px;
  margin-top: 10px;
  margin-bottom: 60px;
}
.portfolio h4 {
  color: rgb(200, 200, 200);
  font-family: "DMSerif";
  font-size: 25px;
  margin-bottom: 20px;
  padding-bottom: 0;
}
.portfolio h3 {
  color: #212529;
  font-family: "TypoBold";
  font-size: 32px;
  letter-spacing: 10px;
  margin-top: 10px;
  margin-bottom: 60px;
}
.portfolio .movies .text {
  color: #212529;
  font-family: "TypoBold";
  font-size: 24px;
  letter-spacing: 4px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.youtube-player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 5px;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  transition: 0.4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  cursor: pointer;
}

.footer {
  padding-top: 50px;
  font-family: "Typo";
  background-color: black;
  color: white;
}
.footer h2 {
  font-family: "Typo";
  font-size: 60px;
  margin-bottom: 30px;
}
.footer h5 {
  text-transform: uppercase;
  font-size: 15px;
  opacity: 0.5;
}
.footer h6 {
  margin-bottom: 15px;
  transition: 0.3s all;
}
.footer h6 a, .footer h6 a:not(:hover) {
  text-decoration: none;
  color: rgb(208, 208, 208);
  transition: 0.3s all;
}
.footer h6 a:hover, .footer h6 a:not(:hover):hover {
  color: rgb(255, 255, 255);
  transition: 0.3s all;
}
.footer img {
  width: 200px;
}

@media only screen and (max-width: 700px) {
  .footer {
    padding-top: 50px;
    font-family: "Typo";
    background-color: black;
    color: white;
  }
  .footer h2 {
    font-family: "Typo";
    font-size: 40px;
    margin-bottom: 30px;
  }
  .footer h5 {
    text-transform: uppercase;
    font-size: 13px;
    opacity: 0.5;
  }
  .footer h6 {
    margin-bottom: 15px;
    transition: 0.3s all;
  }
  .footer h6 a, .footer h6 a:not(:hover) {
    text-decoration: none;
    color: rgb(208, 208, 208);
    transition: 0.3s all;
  }
  .footer h6 a:hover, .footer h6 a:not(:hover):hover {
    color: rgb(255, 255, 255);
    transition: 0.3s all;
  }
}
