@font-face {
  font-family: "TypoBold";
  src: url(/fonts/TypoBold.otf?03c7d5d74b0cbbc75d7afebb20a4be34) format("opentype");
}
@font-face {
  font-family: "Typo";
  src: url(/fonts/TypoRegular.otf?d0b8d0cc42e2ec119cd9e58de93fa1c3) format("opentype");
}
@font-face {
  font-family: "DMSerif";
  src: url(/fonts/DMSerif.ttf?c63bc97c84c421f39c7a3b21a5e243e7) format("truetype");
}
.navbar {
  width: 100%;
  z-index: 999;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  padding-top: 25px;
  transition: background-color 0.3s, padding-top 0.3s;
}
.navbar .nav-item {
  padding: 0px 50px;
  font-family: "Typo";
  color: white !important;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navbar .nav-link {
  font-family: "Typo";
  color: white !important;
  font-size: 20px;
  text-transform: uppercase;
  transition: opacity 2s, transform 2s;
  transition-delay: 2s;
}
.navbar .logo {
  font-family: "Typo";
  font-size: 50px;
}
.navbar .navbar-toggler {
  z-index: 1001;
  position: absolute;
  right: 4%;
}
.navbar .hidden {
  transition-delay: 0s !important;
  opacity: 0 !important;
  transform: translateY(20px) !important;
}
.navbar #search-button {
  left: 0;
  transition: left 2s 0s;
}
.navbar #search-button.active {
  left: calc(-100% + 149px);
  transition-delay: 2s;
}
.navbar .searchbar {
  font-size: 20px;
  opacity: 0;
  padding: 6px 0;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  right: 149px;
  left: calc(100% - 25px);
  transition: left 2s 0s, opacity 0s 2s, padding 0s 0s;
}
.navbar .searchbar.active {
  transition: left 2s 2s, opacity 0s 2s, padding 0s 4s;
  opacity: 1 !important;
  left: 124px !important;
  padding: 6px 12px !important;
}

@media only screen and (max-width: 1500px) {
  .navbar .nav-item {
    padding: 0px 30px;
  }
  .navbar #search-button.active {
    left: calc(-100% + 89px);
  }
  .navbar .searchbar {
    right: 89px;
    left: calc(100% - 5px);
  }
  .navbar .searchbar.active {
    left: 84px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .navbar {
    position: absolute;
    right: 50%;
    margin-top: 25px;
    transform: translateX(50%);
  }
  .navbar .navbar-nav {
    position: absolute !important;
    top: 700% !important;
    right: 50% !important;
    transform: translateX(50%);
    background-color: rgba(0, 0, 0, 0.5333333333);
    width: 80vw;
    padding: 50px 0;
  }
  .navbar #nav-logo {
    display: none;
  }
  .navbar .nav-item {
    padding: 0 !important;
    transition: all 0.3s;
  }
  .navbar .nav-item:hover {
    font-weight: bold;
    letter-spacing: 5px;
    transition: all 0.3s;
  }
  .navbar .nav-item, .navbar .nav-link {
    font-family: "Typo";
    color: white !important;
    font-size: 30px;
    text-transform: uppercase;
  }
  .navbar .logo {
    font-family: "Typo";
    font-size: 50px;
  }
}
.last-photoshoot {
  margin-left: 100px;
}
.last-photoshoot .type {
  font-family: "TypoBold";
  font-size: 25px;
  letter-spacing: 8px;
  margin-top: 150px;
  margin-bottom: 40px;
  opacity: 80%;
}
.last-photoshoot .place {
  color: rgb(200, 200, 200);
  font-family: "DMSerif";
  font-size: 35px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.last-photoshoot .person {
  color: rgba(0, 0, 0, 0.7529411765);
  font-family: "TypoBold";
  font-size: 50px;
  margin-top: 0;
  padding-top: 0;
  white-space: nowrap;
}

@media only screen and (max-width: 991px) {
  .last-photoshoot {
    margin-left: 50px;
  }
  .last-photoshoot .type {
    font-family: "TypoBold";
    font-size: 25px;
    letter-spacing: 8px;
    margin-top: 150px;
    margin-bottom: 40px;
    opacity: 80%;
  }
  .last-photoshoot .place {
    color: rgb(200, 200, 200);
    font-family: "DMSerif";
    font-size: 35px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .last-photoshoot .person {
    color: rgba(0, 0, 0, 0.7529411765);
    font-family: "TypoBold";
    font-size: 50px;
    margin-top: 0;
    padding-top: 0;
    white-space: nowrap;
    margin-bottom: 150px;
  }
}
.banner {
  height: 700px;
  overflow: hidden;
}
.banner .text {
  z-index: 100;
  position: absolute;
  color: white;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.banner .text .type {
  font-family: "TypoBold";
  font-size: 28px;
  letter-spacing: 8px;
  margin-bottom: 100px;
  opacity: 80%;
}
.banner .text .place {
  color: rgb(219, 219, 219);
  font-family: "DMSerif";
  font-size: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.banner .text .person {
  z-index: 100;
  color: white;
  font-family: "TypoBold";
  font-size: 60px;
  margin-top: 0;
  padding-top: 0;
}
.banner .background {
  background: black;
}
.banner .background img {
  opacity: 35%;
}

.gallery {
  margin: 90px;
}

@media only screen and (max-width: 880px) {
  .banner {
    height: 300px;
    overflow: hidden;
  }
  .banner .text {
    z-index: 100;
    position: absolute;
    color: white;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .banner .text .type {
    font-family: "TypoBold";
    font-size: 15px;
    letter-spacing: 8px;
    margin-bottom: 40px;
    opacity: 80%;
  }
  .banner .text .place {
    color: rgb(219, 219, 219);
    font-family: "DMSerif";
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .banner .text .person {
    z-index: 100;
    color: white;
    font-family: "TypoBold";
    font-size: 30px;
    margin-top: 0;
    padding-top: 0;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 992px) {
  .gallery {
    margin: 60px;
  }
}
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: black;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hero img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 40%;
  min-height: 100%;
  min-width: 100%;
}
